<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Messenger</span>
    <i class="bi bi-chat-fill text-primary fs-4 m-1"></i>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>

    <% if current_user %>
      <li class="nav-item">
        <a href="#" class="nav-link"><%= current_user.username %></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Log out', destroy_user_session_path, class: 'nav-link', data: { 'turbo-method': :delete } %>
      </li>
    <% else %>
      <li class="nav-item"><a href="/users/sign_up" class="nav-link">Register</a></li>
      <li class="nav-item"><a href="/users/sign_in" class="nav-link">Sign in</a></li>
    <% end %>
  </ul>
</header>