<h1>
  Welcome to the 
  <span class="text-primary">Messenger!</span>
</h1>

<%# <div class="row">
  <div class="col-12 col-md-4">
    <div class="m-3 rounded gray p-4">
      <h3>Find new friends</h3>
      <p>
        Its an exciting time as this stack evolves, 
        more people find success with shipping software quickly
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="m-3 rounded gray p-4">
      <h3>Find new friends</h3>
      <p>
        Its an exciting time as this stack evolves, 
        more people find success with shipping software quickly
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="m-3 rounded gray p-4">
      <h3>Find new friends</h3>
      <p>
        Its an exciting time as this stack evolves, 
        more people find success with shipping software quickly
      </p>
    </div>
  </div>
</div> %>