<div class="row" data-controller="chat">
  <div class="col-3">
    <%= render @chats %>
  </div>

  <div class="col-9 gray rounded p-3">
    <div class="messages" data-chat-target="messages">
      <%= render @messages %>
    </div>

    <div class="message-form">
      <%= render 'messages/form' %>
    </div>
  </div>
</div>