<div class="row" data-controller="chat">
  <div class="col-3">
    <%= render @chats %>
  </div>

  <div class="col-9 gray rounded p-3 messages" data-chat-target="messages">
    <%= render @messages %>
    <%= render 'messages/form' %>
  </div>
</div>